{% extends "Base.html" %}

{% block NavBar %}

<li><a class='navbartext'>Welcome to Sigma.com</a></li>

{% endblock %}




{% block Body %}

		<h1>{{time}}</h1>



<div class="tree">



<ul>
<li>

    <a href="#">North Korea</a>
    <ul>


    	<li>
        	<a href="#">Peace Talks</a>
	        <ul>
	        	<li>
	            	<a href="#">South Korea</a>
	          	</li>
		        <li>
		          	<a href="#">USA</a>
		            <ul>
		            	<li>
		                	<a href="#">Denuclearization</a>
		            	</li>
		            	<li>
		                	<a href="#">DMZ</a>
		            	</li>
		            </ul>
		        </li>
	        </ul>
		</li>


      	<li>
	        <a href="#">US Sanctions</a>
	        <ul>
	          	<li>
	            	<a href="#">Economic</a>
		            <ul>
		              	<li>
		                	<a href="#">Trade</a>
		              	</li>
		            </ul>
	          	</li>


	          	<li>
	            	<a href="#">Military</a>
		            <ul>
		              	<li>
		                	<a href="#">Weapons</a>
		              	</li>
		              	<li>
		                	<a href="#">Research</a>
		              	</li>
		            </ul>
	          	</li>



	        </ul>
      	</li>



    </ul>


</li>
</ul>



{% endblock %}

















<!-- 		<div class = 'centeredlogos'>

			<figure class = 'centeredlogos'>
			<a href = '/News/'><img src = "http://icons.iconarchive.com/icons/iconsmind/outline/512/Newspaper-2-icon.png" height="150" width="150"  title="News"> <figcaption style = ''>News</figcaption>  </a>
			</figure>

			<figure class = 'centeredlogos'>
			<a href = '/Text/'>  <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/1/11/Fast_text.png/1200px-Fast_text.png" height="160" width="160"  title="Text"> <figcaption >Text</figcaption>  </a>
			</figure>

		</div>
 -->
