{%extends "Base.html" %}

{% block Body %}

<div class="tree">



<ul>
<li>

    <a href="#">{{trendingtopics.0}}</a>
    <ul>


    	<li>
        	<a href="#">{{trendingtopics.1}}</a>
	        <ul>
	        	<li>
	            	<a href="#">{{trendingtopics.2}}</a>
	          	</li>
		        <li>
		          	<a href="#">USA</a>
		            <ul>
		            	<li>
		                	<a href="#">{{trendingtopics.3}}</a>
		            	</li>
		            	<li>
		                	<a href="#">{{trendingtopics.4}}</a>
		            	</li>
		            </ul>
		        </li>
	        </ul>
		</li>


      	<li>
	        <a href="#">US Sanctions</a>
	        <ul>
	          	<li>
	            	<a href="#">Economic</a>
		            <ul>
		              	<li>
		                	<a href="#">Trade</a>
		              	</li>
		            </ul>
	          	</li>


	          	<li>
	            	<a href="#">Military</a>
		            <ul>
		              	<li>
		                	<a href="#">Weapons</a>
		              	</li>
		              	<li>
		                	<a href="#">Research</a>
		              	</li>
		            </ul>
	          	</li>



	        </ul>
      	</li>



    </ul>


</li>
</ul>




{% endblock %}